nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  align-items: stretch;
}
  
nav span {
  font-family: bungee;
}

nav button {
  float: right;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: whitesmoke;
  padding-top: 1.5em;
}

.nav-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-icon {
  color: red;
  animation: moveUpDown 2s ease-in-out infinite;
}
@media only screen and (max-width: 1023px) {
  nav {
    background-color: #008fcc;
    ;
    background-image: url('https://www.transparenttextures.com/patterns/connected.png');
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}